* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #ded9ee;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.form{
    display: flex;
    margin-top: 110px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;;
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 20px;   
}
.login {
    margin-top: 30px;
    margin-left: 30px;
}

#form-register {
    background-color: white;
    height: 750px;
    width: 500px;
    border-radius: 6px;
    padding-right: 18px;
}
#form-login{
    background-color: white;
    height: 420px;
    width: 480px;
    border-radius: 6px;
    padding-right: 18px;
}

.user {
    padding-bottom: 15px;
    padding-left: 5px; 
}

.in1{
    padding-bottom: 15px;
}
input {
    width: 89%;
    padding: 15px;

}
.in2{
    padding-bottom: 15px;
}
.user2{
    padding-bottom: 15px;
    padding-left: 5px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
}

button{
    padding: 10px 60px 10px 60px ;
    cursor: pointer;
    background-color: #ADD8E6;
}
.anc{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

a{
    text-decoration: none;
    
}
.a{
    padding-left: 5px;
}

.inr1{
    width: 40%;
    padding-left: 5px;
}
.inr2{
    width:40%;
    padding-left: 30px;
}
.full{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 5px;
    padding-bottom: 10px;
}
.lab{
    padding-left: 154px;
}
.mob{
    padding-left: 18px;
    padding-bottom: 10px;
}
.mob-1{
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mobile{
    padding-left: 35px;
}
.typ{
    width: 89%;
}
.mobile-1{
    width: 93%;
    padding-left: 35px;
}

.mobile-2{
    width: 93%;
    padding-left: 35px;
}
 .drop{
    padding-left: 36px;
    padding-top: 5px;
    width: 100%;
 }
.drop-down{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    /* padding-right: 100px; */
    width: 90%;
}

select{
    width: 200px;
    height: 50px;
    padding-left: 20px;
}
.div{
    padding-left: 36px;
    padding-top: 15px;
    display: flex;
}
.div2{
    padding-left: 161px;
}
.btn-1{
    width: 50%;
    padding-right: 10px;
}
.btn1{
    display: flex;
    justify-content: center;
    padding-right: 60px;
    padding-top: 40px;
}

.anc1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-right: 40px;
}